.appointment-container {
    width: 100%;
    height: calc(100vh - 4rem);
    margin: 4rem auto 0;
    position: relative;


  .appointment {
    width: 50%;
    height: calc(100vh - 4rem);
    margin: 4rem auto 0;
    display: flex;
    flex-direction: column;
    position: relative;

    .appointment-title{
      text-align: center;
      margin-top: 1rem;
      color: $myDarkGreen;
      font-weight: bold;
      font-size: 1.2rem;
      text-decoration: underline;
    }
    .appointment-func{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      margin-top: 1rem;

      div{
        text-align: center;
        cursor: pointer;
      }
      .add-appointment {
        margin: auto;
        border: none;
        color: white;
        padding: 0.1rem 1rem;
        border-radius: 5px;
        background: $myDarkGreen;
    
        &:hover {
          background: $myLightGreen;
          cursor: pointer;
        }
      }
    }
  }
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;


}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.nav__button{
  position: absolute;
  bottom: 6rem;
  width: 100%;
  display: flex;
  justify-content: space-around;

  button{
    cursor: pointer;
    font-size: 1rem;
    background: $myDarkGreen;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 10px;

    &:hover {
      background: $myLightGreen;
      cursor: pointer;
    }
    &:disabled{
      cursor: not-allowed;
      background: #eee;  
    }
  }
}